@import '~react-md/src/scss/react-md';
//setup theme
$md-primary-color: $md-grey-900;
$md-secondary-color:$md-yellow-a-200;
$md-tertiary-color: #545454;
$md-light-theme: false;

.main-container,
.darker-background {
    background-color: $md-tertiary-color;
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}
